<mat-card>
  <mat-card-header>
    <mat-card-title>Support</mat-card-title>
    <mat-card-subtitle>We're here for you</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Here at Forum World we take our users very seriously when they address us
    with a problem and we try to offer the best solutions available.

    Below we have listed some common problems, or you can send your own in
    the box provided below.
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Bad posts</mat-card-title>
    <mat-card-subtitle>What do I do about bad posts?</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Forum World is a 100% free speech zone and if you don't like a post you can
    hide it.
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>How can I suggest new features?</mat-card-title>
    <mat-card-subtitle>We really need them!</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    We read posts from time to time, so you can suggest them on any forum.
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Which forum is the best?</mat-card-title>
    <mat-card-subtitle>Completely biased and shouldn't be here</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Obviously the history forum DUH!!
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>What's the best way to contact you?</mat-card-title>
    <mat-card-subtitle>Contact details</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Input your querys/suggestions in the box below and that will send us an email.
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <mat-card-title>Who runs the forums?</mat-card-title>
    <mat-card-subtitle>Who owns the forum</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Forums are maintained by independent owners and sustained by users like you.
  </mat-card-content>
</mat-card>
<form (submit)="onAddPost(postForm)" #postForm="ngForm" id="postArea">
  <h3>Title of complaint:</h3>
  <mat-form-field id="postTitle">
    <textarea matInput placeholder="Enter subject of complaint: " name="title" id="title" ngModel required #title="ngModel"
      rows="4" minlength="5" maxlength="20"></textarea>
    <mat-error *ngIf="content.invalid">Please enter a post title > 5 characters</mat-error>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Enter details of complaint: " name="content" ngModel required #content="ngModel"
      rows="4" minlength="5" maxlength="50"></textarea>
    <mat-error *ngIf="content.invalid">Please enter a post content > 5 characters</mat-error>
  </mat-form-field>
  <br>
  <button mat-raised-button color="accent" matTooltip="Submit to dev team">Submit</button>
</form>
<button id="showBugs" (click)="showBugs()">{{buttonText}}</button>
<h3>Error list to fix developers</h3>
<div *ngIf="hideElement">
  <div *ngFor="let post of posts">
    <div *ngIf="post.category == 'Support'">
      <mat-card>
        <mat-card-title>
          {{ post.title }}
        </mat-card-title>
        <mat-card-content>
          <p>{{ post.content }}</p>
        </mat-card-content>
        <mat-action-row>
          <button mat-button [routerLink]="['/edit', post._id]" color="primary">EDIT</button>
          <button mat-button (click)="onDelete(post._id)" color="warn">DELETE</button>
        </mat-action-row>
      </mat-card>
    </div>
  </div>
</div>