<!--Code for material icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="primary" id="toolBar">
  <span id="intro"><i>Forum World!</i></span>
  <button id="mat-menu" mat-raised-button [matMenuTriggerFor]="appmenu" matTooltip="List all forums on our site">Forums</button>
  <mat-menu #appmenu="matMenu">
    <button mat-menu-item matTooltip="Talk with the best minds on our forum" matTooltipPosition="right" [routerLink]="['/generalDiscussions']">
      <mat-icon>forum</mat-icon>
      <span>General Discussions</span>
    </button>
    <button mat-menu-item matTooltip="Chat with other bookworms" matTooltipPosition="right" [routerLink]="['/books']">
      <mat-icon>book</mat-icon>
      <span>Books</span>
    </button>
    <button mat-menu-item matTooltip="Chat about films with movie experts" matTooltipPosition="right" [routerLink]="['/movies']">
      <mat-icon>movie</mat-icon>
      <span>Movies</span>
    </button>
    <button mat-menu-item matTooltip="Those who don't know history are destined to repeat it" matTooltipPosition="right"
      [routerLink]="['/history']">
      <mat-icon>hourglass_empty</mat-icon>
      <span>History</span>
    </button>
    <button mat-menu-item matTooltip="Talk with fellow animal lovers" matTooltipPosition="right" [routerLink]="['/animals']">
      <mat-icon>pets</mat-icon>
      <span>Animals</span>
    </button>
  </mat-menu>
  <button mat-raised-button color="accent" matTooltip="History of Forum World!" [routerLink]="['/forumHistory']">Forum
    History</button>
  <button mat-raised-button color="warn" matTooltip="Page to learn about how to use forum" [routerLink]="['/support']">Support</button>
</mat-toolbar>
<div id="content">
  <h1>Hottest posts from our forums</h1>
  <mat-card>
    <h2>{{forumTitle}}</h2>
    <mat-card-header>
      <mat-card-title>Check out top stories from each of our forums</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Include image and forum post here for top post of each forum{{title}}</p>
    </mat-card-content>
  </mat-card>
</div>
<button mat-raised-button color="accent" (click)="showPost()" id="postButton">{{postText}}</button>
<form id="postArea" (submit)="onAddPost(postForm)" *ngIf="hideElement" #postForm="ngForm">
  <h3>Enter posts here:</h3>
  <mat-form-field id="postTitle">
    <textarea matInput placeholder="Enter post title: " name="title" id="title" ngModel required #title="ngModel" rows="4"></textarea>
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Enter post content: " id="post" name="content" ngModel required #content="ngModel"
      rows="4"></textarea>
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit">Submit Post</button>
</form>
<router-outlet></router-outlet>